 .container_1 {
     margin: 0px auto;
     width: 100%;
     height: 100px;
     color: black;
     padding: 10px;
 }
 
 .product a {
     text-decoration: none;
     color: black;
 }
 
 .container_1 .menu ul {
     list-style: none;
     background-color: #ffffff;
     color: black;
 }
 
 .container_1 .menu ul li {
     z-index: 99999;
     display: inline-block;
     text-align: center;
     width: 120px;
     height: 40px;
     line-height: 40px;
     text-transform: uppercase;
     cursor: pointer;
     position: relative;
 }
 
 .container_1 {
     display: flex;
     flex-direction: column;
 }
 
 .container_1 .menu ul li:hover {
     border: 1px solid #FAB702;
     background-color: #FAB702;
     color: white;
 }
 
 .sub_menu {
     display: none;
     box-sizing: border-box;
     text-align: left #FAB702;
     position: absolute;
     padding: 0px;
     width: 250px;
     background-color: #ffffff;
 }
 
 .container_1 .menu ul li:hover .sub_menu {
     display: block;
     color: black;
     position: absolute;
     box-sizing: border-box;
     border-bottom: 2px #FAB702;
     width: 250px;
     background-color: #ffffff;
     text-align: left;
 }
 
 .sub_menu ul :hover {
     width: 200px;
     border: 1px solid #FAB702;
     background-color: #FAB702;
     position: absolute;
     text-align: left;
 }
 
 .sub_menu li:hover {
     width: 200px;
     border: 1px solid #FAB702;
     background-color: #FAB702;
     position: absolute;
     text-align: left;
 }
 
 .banner-left img {
     width: 100%;
     transition: all 0.3s ease-out;
     transform: scale(1);
 }
 
 img {
     max-width: 100%;
     height: auto;
 }
 
 img {
     border: 0;
     vertical-align: top;
 }
 
 img {
     vertical-align: middle;
 }
 
 img {
     border: 0;
 }
 
 .sub_menu li {
     width: 250px;
     text-align: left;
     font-size: 10px;
     text-transform: lowercase;
     border-bottom: 0px solid #ffffff;
     position: absolute;
     background-color: #ffffff;
 }
 
 .number_1 {
     text-decoration: none;
     color: black;
     text-align: center;
 }
 
 .number_1 a {
     text-decoration: none;
     color: black;
 }
 
 .number_1 li {
     list-style: none;
     background-color: white;
     color: black;
     border-radius: 200px;
     padding-top: 15px;
 }
 
 .number_1 li:hover {
     background-color: #FAB702;
     padding-top: 15px;
 }
 
 .number_1 ul li {
     z-index: 99999;
     display: inline-block;
     text-align: center;
     width: 50px;
     height: 50px;
     position: relative;
 }
 
 .container_1 {
     margin: 0px auto;
     width: 100%;
     height: 100px;
     color: black;
     padding: 10px;
 }
 
 .container_1 a {
     text-decoration: none;
     color: black;
 }
 
 .container_1 .menu ul {
     list-style: none;
     background-color: #ffffff;
     color: black;
 }
 
 .container_1 .menu ul li {
     z-index: 99999;
     display: inline-block;
     text-align: center;
     width: 120px;
     height: 40px;
     line-height: 40px;
     text-transform: uppercase;
     cursor: pointer;
     position: relative;
 }
 
 .container_1 {
     display: flex;
     flex-direction: column;
 }
 
 .container_1 .menu ul li:hover {
     border: 1px solid #FAB702;
     background-color: #FAB702;
     color: white;
 }
 
 .sub_menu {
     display: none;
     box-sizing: border-box;
     text-align: left #FAB702;
     position: absolute;
     padding: 0px;
     width: 250px;
     background-color: #ffffff;
 }
 
 .container_1 .menu ul li:hover .sub_menu {
     display: block;
     color: black;
     position: absolute;
     box-sizing: border-box;
     border-bottom: 2px #FAB702;
     width: 250px;
     background-color: #ffffff;
     text-align: left;
 }
 
 .sub_menu ul :hover {
     width: 200px;
     border: 1px solid #FAB702;
     background-color: #FAB702;
     position: absolute;
     text-align: left;
 }
 
 .sub_menu li:hover {
     width: 200px;
     border: 1px solid #FAB702;
     background-color: #FAB702;
     position: absolute;
     text-align: left;
 }
 
 .banner-left img {
     width: 100%;
     transition: all 0.3s ease-out;
     transform: scale(1);
 }
 
 img {
     max-width: 100%;
     height: auto;
 }
 
 img {
     border: 0;
     vertical-align: top;
 }
 
 img {
     vertical-align: middle;
 }
 
 img {
     border: 0;
 }
 
 .sub_menu li {
     width: 250px;
     text-align: left;
     font-size: 10px;
     text-transform: lowercase;
     border-bottom: 0px solid;
     position: absolute;
     background-color: #ffffff;
 }
 
 .number {
     text-decoration: none;
     color: black;
     text-align: center;
 }
 
 .number a {
     text-decoration: none;
     color: black;
 }
 
 .number li {
     list-style: none;
     background-color: white;
     color: black;
     border-radius: 200px;
     padding-top: 5px;
 }
 
 .number li:hover {
     background-color: #FAB702;
 }
 
 .number ul li {
     z-index: 99999;
     display: inline-block;
     text-align: center;
     width: 50px;
     height: 50px;
     position: relative;
     box-sizing: inherit;
 }
 
 .sale {
     background-color: green;
     transition: transform .2s;
 }
 
 .sale:hover {
     transform: scale(1.1);
     /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }
 
 .fa fa-angle-right:hover {
     background-color: #FAB702;
 }
 /* //////////// */
 
 .iFBWza {
     box-sizing: border-box;
     width: 100%;
     margin-right: auto;
     margin-left: auto;
     padding-right: 1.25rem;
     padding-left: 1.25rem;
 }
 
 constructed stylesheet .dBgWRr>*,
 .dBgWRr::after,
 .dBgWRr::before {
     box-sizing: border-box;
 }
 
 .iFBWza>*,
 .iFBWza::after,
 .iFBWza::before {
     box-sizing: border-box;
 }
 
 *,
 ::after,
 ::before {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
 
 constructed stylesheet .iFBWza>*,
 .iFBWza::after,
 .iFBWza::before {
     box-sizing: border-box;
 }
 
 *,
 ::after,
 ::before {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }